
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .btn1 {
        position: relative;
        display: inline-block;
        padding: 10px 30px;
        border-radius: 50px;
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        background-color: #ffce00;
        border: 3px solid #ffce00;
        transition: all 0.4s ease-in-out;
    }

        .btn1:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 50px;
            transition: all 0.4s ease-in-out;
        }

        .btn1:hover:before {
            width: 100%;
        }

        .btn1:hover {
            transform: scale(1.05);
            background-color: #fe90d2;
            border-color: #fe90d2;
        }

        .btn1:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0;
            height: 0;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.2);
            transform: translate(-50%, -50%);
            z-index: -1;
            transition: all 0.4s ease-in-out;
            color:white;
        }

        .btn1:hover:after {
            width: 150%;
            height: 150%;
            opacity: 0;
            color:white;
        }

    .text-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .text-center.mt-3 {
            margin-top: 3rem; /* or any other value you prefer */
        }

    .rounded {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  max-width: 1160px;
  height: 300px;
  background-image: url('https://imagedelivery.net/9sCnq8t6WEGNay0RAQNdvQ/UUID-cl9bo1q330106qxotlhvzcnif/public');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
    .display-4 {
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        color:white;
        text-shadow: 2px 2px #fe90d2;
        position: relative;
        transition: all 0.2s ease-in-out;
    }

        .display-4:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0;
            height: 0;
            border-radius: 50%;
            background-color: papayawhip;
            transform: translate(-50%, -50%);
            z-index: -1;
            transition: all 0.4s ease-in-out;
        }

        .display-4:hover:before {
            width: 150%;
            height: 150%;
            opacity: 0;
        }

        .display-4:hover {
            transform: scale(1.1);
        }





    .gradient-custom {
        background: linear-gradient(to bottom, #fe90d2, #fefa3f);
    }
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }

    .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .container1 {
        max-width: 1160px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    .weapon-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .weapon-card {
        width: 300px;
        margin: 10px;
        padding: 20px;
        background-color: #f2f2f2;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
    }
    .weapon-card:hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    }

        .weapon-card img {
            width: 200px;
            height: 200px;
            object-fit: contain;
            margin-bottom: 10px;
        }
        .admin-options {
        text-align: center;
        margin-top: 10px;
    }
    .btn-e {
        background-color: dimgrey;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-e:hover {
    background-color: grey;
    text-decoration: none;
    color: white
}

.btn-e:focus {
    outline: none;
}
    .create-new-btn1 {
        background-color: #c9c900;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
#space3
        {
            padding: 20px;
        }
</style>
<body class="gradient-custom">
@Html.Partial("Over18Popup")
    <div class="rounded">
        <div>
            <h1 class="display-4">Welcome to Sword Paradise</h1>
        </div>
        <div class="text-center mt-3">
            <a href="@Url.Action("Index", "Weapon")" class="btn1 btn-lg py-3 px-5">Shop Here</a>
        </div>
    </div>
    <p id="space3"></p>
        <div class="weapon-container">
            <div class="weapon-card">
                <h2>Shusui</h2>
                <a href="Weapon/Details/1">
                    <img src="https://cdn11.bigcommerce.com/s-blqh8ck/images/stencil/1280x1280/products/5443/24899/IMG_9789__40952.1665028703.jpg?c=2&imbypass=on" alt="Image" />
                </a>
                <p>A sturdy katana inspired by the character Roronoa Zoro</p>
                <p>Quantity: 50)</p>
                <p>Price: 150.00$</p>
                <p>Discount: 10%</p>
                <div class="admin-options">
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Administrator"))
                    {
                        <a href="Weapon/Edit/1" class="btn-e">Edit</a>
                    }
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Administrator"))
                    {
                        <a href="Weapon/Delete/1" class="btn-e">Delete</a>
                    }
                </div>
            </div>
            <div class="weapon-card">
                <h2>Glock .19</h2>
                <a href="Weapon/Details/2">
                    <img src="https://cdncloudcart.com/13144/products/images/1145/pistolet-glock-19-gen--4-image_5c94f4113491c_1920x1920.jpeg?1569352387" alt="Image" />
                </a>
                <p>A pistol with a .19 mm. caliber</p>
                <p>Quantity: 50)</p>
                <p>Price: 200.00$</p>
                <div class="admin-options">
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Administrator"))
                    {
                        <a href="Weapon/Edit/2" class="btn-e">Edit</a>
                    }
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Administrator"))
                    {
                        <a href="Weapon/Delete/2" class="btn-e">Delete</a>
                    }
                </div>
            </div>
            <div class="weapon-card">
                <h2>Wooden Crossbow</h2>
                <a href="Weapon/Details/3">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Armborst%2C_1500-tal_-_Livrustkammaren_-_106745.tif/lossy-page1-1200px-Armborst%2C_1500-tal_-_Livrustkammaren_-_106745.tif.jpg" alt="Image" />
                </a>
                <p>A wooden crossbow with a good base. Perfect for long term use</p>
                <p>Quantity: 20)</p>
                <p>Price: 100.00$</p>
                <p>Discount: 10%</p>
                <div class="admin-options">
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Administrator"))
                    {
                            <a href="Weapon/Edit/3" class="btn-e">Edit</a>
                    }
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Administrator"))
                    {
                            <a href="Weapon/Delete/3" class="btn-e">Delete</a>
                    }
                </div>
            </div>
        </div>
</body>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
