<style>
    .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup h3 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-top: 25%;
}

.popup button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
</style>
<div id="over-18-popup" class="popup">
    <h3>Are you over 18?</h3>
    <button id="yes-btn">Yes</button>
    <button id="no-btn">No</button>
</div>
<script>
    $(document).ready(function () {
        var over18Popup = $('#over-18-popup');

        // Check if the user has already confirmed their age
        if (getCookie('ageConfirmed') === 'true') {
            over18Popup.hide();
        } else {
            // Show the popup when the page loads
            over18Popup.show();
        }

        // When the user clicks the Yes button, hide the popup and set a cookie to remember their choice
        $('#yes-btn').click(function () {
            over18Popup.hide();
            setCookie('ageConfirmed', 'true', 1); // The cookie will expire in 1 day
        });

        // When the user clicks the No button, redirect them to a different page (e.g. a parental consent form)
        $('#no-btn').click(function () {
            window.location.href = "@Url.Action("Under18", "Home")";
        });
    });

    // Helper functions to set and get cookies
    $(document).ready(function () {
        var over18Popup = $('#over-18-popup');

        // Check if the user has already confirmed their age
        if (getCookie('ageConfirmed') === 'true') {
            over18Popup.hide();
        } else {
            // Show the popup when the page loads
            over18Popup.show();
        }

        // When the user clicks the Yes button, hide the popup and set a cookie to remember their choice
        $('#yes-btn').click(function () {
            over18Popup.hide();
            setCookie('ageConfirmed', 'true', 1); // The cookie will expire in 1 day
        });

        // When the user clicks the No button, set a cookie to prevent access for the rest of the day
        $('#no-btn').click(function () {
            setCookie('ageConfirmed', 'under18', 1); // The cookie will expire in 1 day
            window.location.href = "@Url.Action("Under18", "Home")";
        });
    });

    // Helper functions to set and get cookies
    function setCookie(name, value, days) {
        var expires = '';
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = '; expires=' + date.toUTCString();
        }
        document.cookie = name + '=' + value + expires + '; path=/';
    }

    function getCookie(name) {
        var nameEQ = name + '=';
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) === ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }
    function deleteCookie(name) {
        document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT; path=/;';
    }
    //deleteCookie('ageConfirmed');
</script>
