@model SwordParadise.Models.Weapon.WeaponCreateVM

@{
    ViewData["Title"] = "Create";
}
<style>
    .gradient-custom {
        background: linear-gradient(to bottom, red, black);
    }
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }

    .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .row {
        margin: 0 auto;
        max-width: 500px;
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
    }

    .create-new-btn {
        background-color: darkred;
        color: white;
            text-decoration: none;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .create-new-btn:hover {
            background-color: indianred;
            text-decoration: none;
            color: black;
        }

                .create-new-btn:focus {
                    outline: none;
        }
</style>
<body class="gradient-custom">
<div class="row">
    <div class="col-md-4">
            <h1>Create</h1>
            <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WeaponName" class="control-label"></label>
                <input asp-for="WeaponName" class="form-control" />
                <span asp-validation-for="WeaponName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>

                <select asp-for="BrandId" class = "form-control text-center">
                    @foreach (var brand in Model.Brands)
                    {
                        <option value ="@brand.Id">@brand.Name</option>
                    }
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                @*<input asp-for="CategoryId" class="form-control" />*@
                 <select asp-for="CategoryId" class="form-control text-center">
                    @foreach (var category in Model.Categories)
                    {
                            <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="create-new-btn" />
                </div>
                <div>
                    <a asp-action="Index" class="create-new-btn">Back to List</a>
                </div>
        </form>
    </div>
</div>
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

