<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SwordParadise</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
    .gradient-custom {
        background: linear-gradient(to bottom, #fe90d2, #fefa3f);
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }


    .container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@@media (min-width: 576px) {
  .container {
    width: 90%;
  }
}

@@media (min-width: 768px) {
  .container {
    width: 80%;
  }
}

@@media (min-width: 992px) {
  .container {
    width: 70%;
  }
}

@@media (min-width: 1200px) {
  .container {
    width: 60%;
  }
}

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    .dropdown-menu {
        transition: all 0.3s ease-in-out;
    }
    .navbar-container {
        width: 140%;
        max-width: 1800px;
    }

    .navbar-search form .input-group {
        margin-right: 10px; /* adjust as needed */
    }

    .navbar-search form .input-group input[type="text"] {
        border-color: black;
        color: #000;
        border-radius: 20px;
        transition: all 0.3s ease-in-out;
    }

        .navbar-search form .input-group input[type="text"]:focus {
            border-color: grey;
            box-shadow: none;
        }

    .navbar-search form .input-group .input-group-append .btn {
        margin-left: 10px; /* adjust as needed */
        background-color: #fe90d2;
        color: #fff;
        border-radius: 20px;
        border-color: #fe90d2;
        transition: all 0.3s ease-in-out;
    }

        .navbar-search form .input-group .input-group-append .btn:hover {
            background-color: #fefa3f;
            color: #000;
            border-color: #fefa3f;
        }

        #space
        {
            padding: 40px;
        }

    #space7 {
        padding: 10px;
    }
</style>
<body class="gradient-custom">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
            <div class="navbar-container container">
                <a href="@Url.Action("Index", "Home")">
                    <img src="https://static.thenounproject.com/png/202094-200.png" alt="Image" style="width:70px; height:70px;" />
                </a>
                <p id="space7"></p>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="ContactUs">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Weapon" asp-action="Index">Weapons</a>
                        </li>
                        @if ((this.User.Identity.IsAuthenticated))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="MyOrders">My Orders</a>
                            </li>
                        }
                        @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Statistic Modul
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Client" asp-action="Index">Users</a>
                                    <a class="dropdown-item" asp-controller="Order" asp-action="Index">Orders</a>
                                    <a class="dropdown-item" asp-controller="Statistics" asp-action="Index">Statistics</a>
                                    <a class="dropdown-item" asp-controller="Contact" asp-action="Index">Message List</a>
                                </div>
                            </li>
                        }
                    </ul>
<div class="navbar-search ml-auto">
  <form asp-controller="Weapon" asp-action="Index" method="get">
    <div class="input-group">
      <input type="text" class="form-control" name="searchStringWeaponName" placeholder="Search for a weapon...">
      <div class="input-group-append">
        <button type="submit" class="btn btn-outline-secondary">
          <i class="fas fa-search"></i> <span class="button-text">Search</span>
        </button>
      </div>
    </div>
  </form>
</div>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="body-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <p id="space"></p>
    <footer class="navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3 footer text-muted">
        <div class="navbar-container container">
            &copy; 2023 - SwordParadise - <a asp-area="" asp-controller="Contact" asp-action="ContactUs">Contact Us</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
